$color-primary-dark: #2193b0;
$color-primary-light: #6dd5ed;

$color-secondary-dark: #cb2d3e;
$color-secondary-light: #ef473a;

$color-tertiary-dark: #6a3093;
$color-tertiary-light: #a044ff;

$color-background: #f8f8f8;
$color-text: #2222;

$color-white: #fff;
