.card {
	height: 35rem;
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	width: 25%;

	&__heading {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 10rem;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

		&--span {
			font-weight: 700;
			font-size: 4rem;
			color: $color-white;
		}

		&--1 {
			background-image: linear-gradient(
				to right bottom,
				$color-primary-light,
				$color-primary-dark
			);
		}

		&--2 {
			background-image: linear-gradient(
				to right bottom,
				$color-secondary-light,
				$color-secondary-dark
			);
		}

		&--3 {
			background-image: linear-gradient(
				to right bottom,
				$color-tertiary-light,
				$color-tertiary-dark
			);
		}
	}

	&__text {
		font-size: 2rem;
		padding: 2rem;

		ul {
			list-style: none;

			li {
				padding: 1rem 0;
				&:not(:last-child) {
					border-bottom: 0.3rem $color-text solid;
				}
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0deg);
	}

	&__side {
		height: 35rem;
		transition: all 0.8s ease;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 1rem;
		box-shadow: 0 1.5rem 4rem rgba($color-text, 0.15);

		&--front {
			// backface-visibility: hidden;
			background-color: $color-white;
		}

		&--back {
			transform: rotateY(180deg);

			&-1 {
				background-image: linear-gradient(
					to right bottom,
					$color-primary-light,
					$color-primary-dark
				);
			}
			&-2 {
				background-image: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				);
			}
			&-3 {
				background-image: linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				);
			}
		}
	}

	&__cta {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}

	&__price-box {
		text-align: center;
		color: $color-white;
		margin-bottom: 8rem;
	}

	&__price-only {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 6rem;
		font-weight: 100;
	}
}
