.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1em 3.5rem;
		border-radius: 10rem;
		display: inline-block;
		transition: all 0.2s;
		position: relative;
		font-size: 2rem;
		margin-top: 2rem;
	}

	&:hover {
		transform: translateY(-1rem);
		box-shadow: 0 1rem 2rem rgba($color-text, 0.2);
		&::after {
			transform: scaleX(1.5) scaleY(1.4);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-text, 0.2);
	}

	&--white {
		background-color: $color-white;
		color: #000;
		&::after {
			background-color: $color-white;
		}
	}
}
